In [13]:
from selenium import webdriver

In [14]:
driver = webdriver.Chrome('./chromedriver')
driver.get("https://nid.naver.com/nidlogin.login?mode=form&url=https%3A%2F%2Fwww.naver.com")

In [15]:
driver.save_screenshot('../images/001_1.png')

True

In [16]:
elem_login = driver.find_element_by_id("id")
elem_login.clear()
elem_login.send_keys("aprilkim98")

elem_login = driver.find_element_by_id("pw")
elem_login.clear()
elem_login.send_keys("rlagPfls!!")

In [17]:
xpath = """//*[@id="log.login"]"""
driver.find_element_by_xpath(xpath).click()

In [18]:
driver.get("http://mail.naver.com")

In [19]:
from bs4 import BeautifulSoup

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [20]:
raw_list = soup.find_all('div', 'name _ccr(lst.from) ')
raw_list

[]

In [22]:
driver = webdriver.Chrome('./chromedriver')
driver.get("http://www.opinet.co.kr/searRgSelect.do")

In [24]:
gu_list_raw = driver.find_element_by_xpath("""//*[@id="SIGUNGU_NM0"]""")
gu_list = gu_list_raw.find_elements_by_tag_name("option")

In [25]:
gu_names = [option.get_attribute("value") for option in gu_list]
gu_names.remove('')
gu_names

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [26]:
element = driver.find_element_by_id("SIGUNGU_NM0")
element.send_keys(gu_names[0])

In [27]:
xpath = """//*[@id="searRgSelect"]/span"""
element_sel_gu = driver.find_element_by_xpath(xpath).click()

In [28]:
xpath = """//*[@id="glopopd_excel"]"""
element_get_excel = driver.find_element_by_xpath(xpath).click()

In [29]:
import time
from tqdm import tqdm_notebook

for gu in tqdm_notebook(gu_names):
    element = driver.find_element_by_id("SIGUNGU_NM0")
    element.send_keys(gu)
    
    time.sleep(2)
    
    xpath = """//*[@id="searRgSelect"]"""
    element_sel_gu = driver.find_element_by_xpath(xpath).click()
    
    time.sleep(1)
    
    xpath = """//*[@id="glopopd_excel"]"""
    element_get_excel = driver.find_element_by_xpath(xpath).click()
    
    time.sleep(1)

C:\Users\김혜린\AppData\Local\Temp\ipykernel_23112\3213897217.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for gu in tqdm_notebook(gu_names):

  0%|          | 0/25 [00:00<?, ?it/s]

In [30]:
driver.close()

In [35]:
import pandas as pd
from glob import glob

In [43]:
glob('../data/*xls')

['../data\\지역_위치별(주유소) (1).xls',
 '../data\\지역_위치별(주유소) (10).xls',
 '../data\\지역_위치별(주유소) (11).xls',
 '../data\\지역_위치별(주유소) (12).xls',
 '../data\\지역_위치별(주유소) (13).xls',
 '../data\\지역_위치별(주유소) (14).xls',
 '../data\\지역_위치별(주유소) (15).xls',
 '../data\\지역_위치별(주유소) (16).xls',
 '../data\\지역_위치별(주유소) (17).xls',
 '../data\\지역_위치별(주유소) (18).xls',
 '../data\\지역_위치별(주유소) (19).xls',
 '../data\\지역_위치별(주유소) (2).xls',
 '../data\\지역_위치별(주유소) (20).xls',
 '../data\\지역_위치별(주유소) (21).xls',
 '../data\\지역_위치별(주유소) (22).xls',
 '../data\\지역_위치별(주유소) (23).xls',
 '../data\\지역_위치별(주유소) (24).xls',
 '../data\\지역_위치별(주유소) (3).xls',
 '../data\\지역_위치별(주유소) (4).xls',
 '../data\\지역_위치별(주유소) (5).xls',
 '../data\\지역_위치별(주유소) (6).xls',
 '../data\\지역_위치별(주유소) (7).xls',
 '../data\\지역_위치별(주유소) (8).xls',
 '../data\\지역_위치별(주유소) (9).xls',
 '../data\\지역_위치별(주유소).xls']

In [45]:
stations_files = glob('../data/*xls')
stations_files

['../data\\지역_위치별(주유소) (1).xls',
 '../data\\지역_위치별(주유소) (10).xls',
 '../data\\지역_위치별(주유소) (11).xls',
 '../data\\지역_위치별(주유소) (12).xls',
 '../data\\지역_위치별(주유소) (13).xls',
 '../data\\지역_위치별(주유소) (14).xls',
 '../data\\지역_위치별(주유소) (15).xls',
 '../data\\지역_위치별(주유소) (16).xls',
 '../data\\지역_위치별(주유소) (17).xls',
 '../data\\지역_위치별(주유소) (18).xls',
 '../data\\지역_위치별(주유소) (19).xls',
 '../data\\지역_위치별(주유소) (2).xls',
 '../data\\지역_위치별(주유소) (20).xls',
 '../data\\지역_위치별(주유소) (21).xls',
 '../data\\지역_위치별(주유소) (22).xls',
 '../data\\지역_위치별(주유소) (23).xls',
 '../data\\지역_위치별(주유소) (24).xls',
 '../data\\지역_위치별(주유소) (3).xls',
 '../data\\지역_위치별(주유소) (4).xls',
 '../data\\지역_위치별(주유소) (5).xls',
 '../data\\지역_위치별(주유소) (6).xls',
 '../data\\지역_위치별(주유소) (7).xls',
 '../data\\지역_위치별(주유소) (8).xls',
 '../data\\지역_위치별(주유소) (9).xls',
 '../data\\지역_위치별(주유소).xls']

In [46]:
tmp_raw = []

for file_name in stations_files:
    tmp = pd.read_excel(file_name, header=2)
    tmp_raw.append(tmp)
    
station_raw = pd.concat(tmp_raw)

In [47]:
station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 469 entries, 0 to 36
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      469 non-null    object
 1   상호      469 non-null    object
 2   주소      469 non-null    object
 3   상표      469 non-null    object
 4   전화번호    469 non-null    object
 5   셀프여부    469 non-null    object
 6   고급휘발유   469 non-null    object
 7   휘발유     469 non-null    object
 8   경유      469 non-null    object
 9   실내등유    469 non-null    object
dtypes: object(10)
memory usage: 40.3+ KB

In [48]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),현대오일뱅크,02-487-2030,Y,-,1875,1695,-
1,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1893,1787,-
2,서울특별시,sk해뜨는주유소,서울 강동구 상일로 132 (강일동),SK에너지,02-442-7801,Y,-,1895,1735,1400
3,서울특별시,(주)퍼스트오일 코알라주유소,서울특별시 강동구 올림픽로 556 (성내동),S-OIL,02-484-1162,Y,-,1898,1738,-
4,서울특별시,주)지유에너지직영 오렌지주유소,서울 강동구 성안로 102 (성내동),SK에너지,02-484-6165,N,-,1922,1752,1320

In [49]:
stations = pd.DataFrame({'Oil_store':station_raw['상호'], 
                                       '주소':station_raw['주소'],
                                       '가격':station_raw['휘발유'],
                                       '셀프':station_raw['셀프여부'],
                                       '상표':station_raw['상표']  })
stations.head()

              Oil_store                            주소    가격 셀프      상표
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1875  Y  현대오일뱅크
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1893  N  현대오일뱅크
2              sk해뜨는주유소         서울 강동구  상일로 132 (강일동)  1895  Y   SK에너지
3       (주)퍼스트오일 코알라주유소     서울특별시 강동구  올림픽로 556 (성내동)  1898  Y   S-OIL
4      주)지유에너지직영 오렌지주유소          서울 강동구 성안로 102 (성내동)  1922  N   SK에너지

In [50]:
stations['구'] = [eachAddress.split()[1] for eachAddress in stations['주소']]
stations.head()

              Oil_store                            주소    가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1875  Y  현대오일뱅크  강동구
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1893  N  현대오일뱅크  강동구
2              sk해뜨는주유소         서울 강동구  상일로 132 (강일동)  1895  Y   SK에너지  강동구
3       (주)퍼스트오일 코알라주유소     서울특별시 강동구  올림픽로 556 (성내동)  1898  Y   S-OIL  강동구
4      주)지유에너지직영 오렌지주유소          서울 강동구 성안로 102 (성내동)  1922  N   SK에너지  강동구

In [51]:
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강서구',
       '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '강남구'], dtype=object)

In [52]:
stations[stations['구']=='서울특별시']

Empty DataFrame
Columns: [Oil_store, 주소, 가격, 셀프, 상표, 구]
Index: []

In [53]:
stations.loc[stations['구']=='서울특별시', '구'] = '성동구'
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강서구',
       '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '강남구'], dtype=object)

In [54]:
stations[stations['구']=='특별시']

Empty DataFrame
Columns: [Oil_store, 주소, 가격, 셀프, 상표, 구]
Index: []

In [55]:
stations.loc[stations['구']=='특별시', '구'] = '도봉구'
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강서구',
       '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '강남구'], dtype=object)

In [56]:
stations[stations['가격']=='-']

           Oil_store                         주소 가격 셀프      상표     구
32  현대오일뱅크㈜직영 사평로주유소      서울 서초구 사평대로 350 (서초동)  -  N  현대오일뱅크   서초구
27     지에스칼텍스㈜ 화일주유소            서울 영등포구 도림로 415  -  Y   GS칼텍스  영등포구
16             삼융주유소       서울 은평구 수색로 299 (수색동)  -  N   SK에너지   은평구
9    지에스칼텍스(주)직영 역전점               서울 중구 퇴계로 15  -  N   GS칼텍스    중구
10             필동주유소      서울 중구  퇴계로 196 (필동2가)  -  N   GS칼텍스    중구
15           구의스타주유소             서울 광진구 자양로 103  -  N   GS칼텍스   광진구
17          정다운셀프주유소             서울 도봉구 도봉로 635  -  Y   SK에너지   도봉구
34             삼성주유소       서울 강남구 삼성로 521 (삼성동)  -  N   SK에너지   강남구
35             동우주유소  서울특별시 강남구  봉은사로 311 (논현동)  -  N   SK에너지   강남구
36             경원주유소      서울 강남구 도산대로 428 (청담동)  -  N   S-OIL   강남구

In [57]:
stations = stations[stations['가격'] != '-']
stations.head()

              Oil_store                            주소    가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1875  Y  현대오일뱅크  강동구
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1893  N  현대오일뱅크  강동구
2              sk해뜨는주유소         서울 강동구  상일로 132 (강일동)  1895  Y   SK에너지  강동구
3       (주)퍼스트오일 코알라주유소     서울특별시 강동구  올림픽로 556 (성내동)  1898  Y   S-OIL  강동구
4      주)지유에너지직영 오렌지주유소          서울 강동구 성안로 102 (성내동)  1922  N   SK에너지  강동구

In [58]:
stations['가격'] = [float(value) for value in stations['가격']]

In [59]:
stations.reset_index(inplace=True)
del stations['index']

In [60]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Oil_store  459 non-null    object
 1   주소         459 non-null    object
 2   가격         459 non-null    float64
 3   셀프         459 non-null    object
 4   상표         459 non-null    object
 5   구          459 non-null    object
dtypes: float64(1), object(5)
memory usage: 21.6+ KB

In [61]:
stations.head()

              Oil_store                            주소      가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1875.0  Y  현대오일뱅크  강동구
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1893.0  N  현대오일뱅크  강동구
2              sk해뜨는주유소         서울 강동구  상일로 132 (강일동)  1895.0  Y   SK에너지  강동구
3       (주)퍼스트오일 코알라주유소     서울특별시 강동구  올림픽로 556 (성내동)  1898.0  Y   S-OIL  강동구
4      주)지유에너지직영 오렌지주유소          서울 강동구 성안로 102 (성내동)  1922.0  N   SK에너지  강동구

In [62]:
# seaborn만 한글 username을 못읽는 이유가 무엇인가.. 다른 계정에서 진행할 것 ㅠㅠ

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import platform

path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

OSError: Failed to open file b'C:\\Users\\\xea\xb9\x80\xed\x98\x9c\xeb\xa6\xb0\\AppData\\Local\\Temp\\scipy-h3912mpt'